<!DOCTYPE html>
<html>
<head>
  <title>Eva</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons|Roboto' %> 

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "http://www.w3schools.com/lib/w3.css" %>
  <meta name="theme-color" content="#1976d2">


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<% flash.each do |key, value| -%>
			 <%= content_tag :div, value, class: "alert alert-info" %>
		<% end %>
		<%= yield %>
	</div>

</body>
</html>
